*.mode1v3
*.mode2v3
*.pbxuser
xcuserdata
build/Xcode/build
build/Xcode/DerivedData
*.log
Makefile
.settings
.svn
*.dmg
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Debug/*
*~
build/tmpHideUserDataDir.sh
build/windows
cmake_install.cmake
install_manifest.txt
*.dll
*.dll
*/.DS_Store
.DS_Store
readme.txt
