*.mode1v3
*.mode2v3
*.pbxuser
xcuserdata
build/Xcode/build
build/Xcode/DerivedData
build/Xcode/CommanderGenius/build
build/Xcode/Libraries
*.log
Makefile
.settings
.svn
*.dmg
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Debug/*
*~
build/tmpHideUserDataDir.sh
build/windows
cmake_install.cmake
install_manifest.txt
*.dll
*.a
*/.DS_Store
.DS_Store
readme.txt
CMakeFiles
README
debian/README
compile_commands.json
.ccls-cache
ios/libs
