[Desktop Entry]
Name=Commander Genius
Comment=Play natively Commander Keen Games
Exec=CGeniusExe
Icon=CGLogo
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;ArcadeGame;
