[Desktop Entry]
Name=Commander Genius
Comment=Play natively Commander Keen Games
Exec=CGeniusExe
Icon=CGLogo.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

