[Desktop Entry]
Name=Commander Genius
Comment=Play natively Commander Keen Games
Exec=CGeniusExe
Icon=/usr/share/icons/hicolor/512x512/apps/CGLogo.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Game;ArcadeGame;
