/* --------------- Basic Elements --------------- */
body {
	color: white;
	background: black url("img/stars.jpg") 0 0 repeat fixed;
	font-size: 100%;
	line-height: 100%;
}

body * {
	display: block;
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	color: #2271A0;
	font-size: 0.87em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin: 0.56em;
}

h2 {
	font-size: 0.75em;
	color: #667;
	margin: 0.56em;
	font-weight: bold;
}

h3, h6 {
	color: #2271A0;
	font-weight: bold;
}

p, h3, a, td {
	font-size: 0.75em;
	margin: 0.75em;
}

p a {
	font-size: 100%;
	margin: 0;
}

p img {
	vertical-align: middle;
	display: inline;
}

a {
	color: black;
	text-decoration: none;
	display: inline;
}

a:hover {
	text-decoration: underline;
}

a[href ^="mailto:"] {
   padding-right: 1.5em;
   background: transparent url("img/icon_mailto.gif") no-repeat center right;
}

a[href ^="http"] {
   padding-right: 1.5em;
   background: transparent url("img/icon_external.gif") no-repeat center right;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

li {
	margin: 0 0 0 2.5em;
	font-size: 0.68em; 
	background: transparent url("") no-repeat 0 0.31em;
	display: list-item;
}

ol li {
	list-style-type: decimal;
}

ul li {
	list-style-type: disc;
}

em {
	font-style: italic;
	display: inline;
}

strong {
	font-weight: bold;
	display: inline;
}

tr {
	display: table-row;
}

td, th {
	border: 0.19em outset grey;
	padding: 0.2em;
	display: table-cell;
}

/* ------------------Header--------------------------- */
#header {
	width: 100%;
	overflow: hidden;
}

#header #headerImg {
	padding: 0.45em;
	width: auto;
	height: 5.43em;
	float: left;
}

#header ul {
	float: left;
	margin: 1.87em 1.5em 0;
}

#header #secondLine{
	margin: 0 1.5em 1.87em;
}

#header li {
	position: relative;
	float: left;
	text-indent: -187em;
	font: 0/0 Arial;
	overflow: hidden;
	color: rgba(255,255,255,0);
	vertical-align: bottom;
	}
#header li a {
	width: 120px;
	height: 20px;
	background: transparent none 0 0 no-repeat;
	display: block;
}

#header li a:hover,
#header li a:focus {
	background-position: 0 -20px;
}

#header li a:active {
//	background-position: 0 -40px;
}

#header li a img {
	display: none;
}

#header #indexLink {
	background-image: url("img/buttonAbout.jpg");
}
#header #newsLink {
	background-image: url('img/buttonNews.jpg');
}
#header #downLink {
	background-image: url('img/buttonDown.jpg');
}
#header #forumLink {
	background-image: url('img/buttonForum.jpg');
}
#header #docLink {
	background-image: url('img/buttonDoc.jpg');
}
#header #compatLink {
	background-image: url('img/buttonCompat.jpg');
}
#header #scrLink {
	background-image: url('img/buttonScr.jpg');
}
#header #vidLink {
	background-image: url('img/buttonVid.jpg');
}
#header #linksLink {
	background-image: url('img/buttonLinks.jpg');
}
#header #tracLink {
	background-image: url('img/buttonTrac.jpg');
}

/* ------------------Sidebar--------------------------- */
#sidebar {
	width: 9.37em;
	float: left;
	clear: both;
	background: black;
}

#sidebar h6,
#sidebar p {
	color: #2271A0;
	font-weight: bold;
	width: 13em;
	line-height: normal;
	font-size: 0.62em;
	padding: 0;
	margin: 0 0 0 2em;
}

#sidebar h6 {
	padding: 1.3em 0 0;
}

#sidebar p {
	color: #FFF;
	font-weight: normal;
}

#sidebar a {
	display: block;
	width: 7em;
}

/* ------------------Main Content--------------------------- */
#mainContent {
	background: #BBB url("img/navbasebg.jpg") repeat-x top;
	color: black;
	width: auto;
	overflow: hidden;
	padding: 1em 0 0;
}

#mainContent div {
	clear: both;
	padding: 1em 0 0;
	overflow: hidden;
}

#mainContent .fauxTable {
	margin: 1em 0 0;
	padding: 0;
}

#ourTeam .fauxTable {
	clear: none;
	float: left;
	height: 18.81em;
	margin: 0;
}

#ourTeam h2 {
	background: none;
}

#platforms a {
	text-decoration: underline;
}

/* ------------------Footer--------------------------- */
#footer h6,
#footer p,
#footer a {
	font-size: 0.68em;
	color: white;
}

#footer h6 {
	padding: 1em 0 0 0;
}

#footer p {
	text-align: left;
}

#footer a {
	width: 11.3em;
	display: block;
}

#footer a.baseline {
	float: right;
	margin-top: -1.5em;
	font-size: 0.625em;
	width: 19em;
	display: inline;
}

/* ------------------Common classes--------------------------- */
.floatLeft {
	float: left;
	clear: left;
	margin-right: 1em;
}

.floatRight {
	float: right;
	clear: right;
	margin-left: 1em;
}

.fauxTable{
	border: 0.19em ridge #BBB;
	margin: 0;
	padding: 0;
}


.fauxTable h2 {
	border-bottom: 0.19em ridge #BBB;
	text-align: center;
	margin: 0;
	padding: 0.37em 1em;
	background: #999;
}

.containCentered {
	text-align: center;
}

.centered{
	margin: 0 auto;
	text-align: left;
}
